.button {
    border-radius: 4px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.btnSm {
    padding: 4px 8px;
}

.btnLg {
    padding: 8px 16px;
}

.btnPrimary {
    color: var(--brand);
    border: 1px solid var(--brand);
    background: transparent;
}

.btnPrimary:hover {
    color: #fff;
    background: var(--brand);
}

.btnSecondary {
    opacity: .8;
    color: var(--secondary);
    background: transparent;
    border: 1px solid var(--secondary);
}

.btnSecondary:hover {
    background: var(--secondary);
    color: white;

}
