body {
    font-family: "Source Sans Pro", sans-serif;
}

.navbar {
    padding: 8px 16px;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.navbar-light {

}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-brand {
    color: #222;
    font-size: 35px;
}
.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 16px;
}
.nav-item {}
.nav-link {
    display: flex;
    align-items: center;
    transition: color .15s ease, background-color .15s ease;
    color: #0000004d;
    font-size: 16px;
    &:hover {
        color: #0009;

    }
}

.active {}
.pull-xs-right {
    float: right !important;
}

.header-inner {
    display: flex;
    align-items: center;
}

footer {
    background: #fff;
    border-top: 1px solid var(--border);
    margin-top: 42px;
    padding: 16px 0;
}
.footer-inner {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.footer-inner > a {
    font-size: 20px;
}
.logo-font {
    color: black;
}

.attribution {
    color: var(--text-light);
    font-size: 12px;
    a {
        color: #222222;

        &:hover {
            color: var(--brand-active);
            text-decoration: underline;
            transition: color 100ms ease;
        }
    }
}

.home-page {

}

.banner {
    padding: 32px;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    margin-bottom: 32px;
}
.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-inner > h1 {
    font-size: 40px;
}
.banner-inner > p {
    color: var(--text-muted);
}


.container-page {
    margin-top: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-9 {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 75%;
    width: 100%;
}
.feed-toggle {}
.nav-pills {
    display: flex;
}
.nav-pills > .nav-item > .nav-link.active {
    color: var(--brand);
    border-bottom: 2px solid var(--brand);
}
.nav-pills > .nav-item > .nav-link {
    padding: 8px 16px;
}
.outline-active {}
.article-preview {
    border-top: 1px solid var(--border);

}
.col-md-3 {
    max-width: 25%;
    width: 100%;
}
.sidebar {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid var(--border);
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.article-meta {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 15px;
}
.author {
    color: var(--text);
    font-size: 16px;
}
.author:hover {
    text-decoration: underline;
}
.date {
    color: var(--text-light);
    font-size: 13px;
}

.article-banner-inner {

}
.article-page > .banner > .container {
    max-width: 720px;
}
.article-banner-inner > h1 {
    font-size: 45px;
    color: #222222;
}
.article-page > .container {
    max-width: 720px;
}

.article-content {
    color: var(--text);
}
.article-content > .col-md-12 > p {
    margin-bottom: 32px;
    font-size: 19px;
}
.article-content > .col-md-12 > h2 {
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 32px;
}

.bottom-article-meta {
    display: flex;
    justify-content: center;
}
