
.articlePreview {
    padding: 24px 0;
    border-top: 1px solid var(--border);
}
.articlePreview:hover {
    background: #00000003;
}
.articleMeta {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.articleMeta > button {
    margin-left: auto;
}

.author {
    color: var(--brand);
    font-size: 16px;
    &:hover {
        text-decoration: underline;
        color: var(--brand-active);
        transition: 100ms;
    }
}
.date {
    color: var(--text-light);
    font-size: 12px;
}
.previewLink {

}
.previewLink > h1 {
    font-size: 24px;
    margin-bottom: 3px;
    color: var(--text);
    font-weight: 600;
}
.previewLink:hover > h1 {
    color: var(--brand-active);
    transition: color ease 200ms;
}
.previewLink > p {
    margin-bottom: 15px;
    font-size: 16px;
    color: var(--text-muted);
    font-weight: 300;
}
.previewLink > span {
    color: var(--text-light);
    font-size: 13px;
    font-weight: 300;
}

.ionHeart {
    color: inherit;
    width: 15px;
    height: 15px;
}
