.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.avatarSm {
    width: 32px;
    height: 32px;
}

.avatarLg {
    width: 100px;
    height: 100px;
}

.avatarLink {
    display: inline-block;
}

.avatarLink:has(.avatarSm) {
    width: 32px;
    height: 32px;
}

.avatarLink:has(.avatarLg) {
    width: 100px;
    height: 100px;
}
